// doctype html
html
  head
    title #{title}
    script(src='/javascripts/coffee-script.js')
  body
    h1 #{title}
    p Welcome to #{title}

    script(type="text/coffeescript").
      [1..5].map (i) ->
        alert(i)



