doctype html
html
  head
    script(language="JavaScript",src='/javascripts/pbsearch.js')
    title #{title}
    link(rel="stylesheet",href="/stylesheets/gyazz.css",type="text/css")
  body
    h1 #{title}
    p Welcome to #{title}

    div(class="listedit2") XXXXXXXXXXX
    div(class="listedit3") YYYYYYYYYYY
    div(class="listedit4") ZZZZZZZZZZZZ
